<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Défintion des mots</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
  <main class="my-2 container">
    <div id="app">
      <h1>Liste des mots</h1>
      <p>[[message]]</p>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>


</body>

</html>